<template>
  <div class="container">
    <div class="columns">
      <div class="column is-12">
        <div class="columns is-variable is-2"  style="margin-top: 4rem; margin-bottom: 2rem;">
          <div class="column"></div>
          <div class="column is-2">
            <button class="button is-primary">Explore Meetups</button>
          </div>
          <div class="column is-2">
            <button class="button is-primary">Organize meetup</button>
          </div>
          <div class="column"></div>
        </div>
        <carousel>
          <slide v-for="meetup in meetups" v-bind:key="meetup.id" >
            <img :src="meetup.imageUrl" alt="" @click="onLoadMeetup(meetup.id)">
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</template>

<script>
import { Carousel, Slide } from 'vue-carousel'

export default {
  computed: {
    meetups () {
      return this.$store.getters.featuredMeetups
    }
  },
  methods: {
    onLoadMeetup (id) {
      this.$router.push('/meetups/' + id)
    }
  },
  components: {
    Carousel,
    Slide
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scope lang="scss">
</style>
