<template>
<nav class="navbar is-fixed-top" role="navigation" aria-label="main navigation">
  <div class="container">
    <div class="navbar-brand">
      <router-link to="/" class="navbar-item" >
        <h1>MeetupApp</h1>
      </router-link>

      <a role="button"
        class="navbar-burger burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbarBasicExample">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
      <div class="navbar-start">
        <router-link :to="item.to" class="navbar-item" v-for="item in menuItems" v-bind:key="item.title">
          <span class="icon">
            <i :class="item.icon"></i>
          </span> {{item.title}}
        </router-link>
      </div>
    </div>
  </div>
</nav>
</template>

<script>
export default {
  computed: {
    menuItems () {
      let menuItems = [
        { icon: 'fas fa-user-ninja', title: 'Sign up', to: 'signup' },
        { icon: 'fas fa-unlock', title: 'Sign in', to: 'signin' }
      ]
      if (this.userIsAuthenticated) {
        menuItems = [
          { icon: 'fas fa-user-friends', title: 'Organize Meetup', to: 'meetups' },
          { icon: 'fas fa-map-marker-alt', title: 'Organize Meetup', to: '/meetup/new' },
          { icon: 'fas fa-user-alt', title: 'Profil', to: '' }
        ]
      }
      return menuItems
    },
    userIsAuthenticated () {
      return this.$store.getters.user !== null && this.$store.getters.user !== undefined
    }
  }
}
</script>

<style lang="scss" scope>
.navbar-item.has-dropdown.is-hoverable{
  .navbar-link{
    &::after{
      display: none;
    }
  }
}

.navbar-start{
  margin-left: 25%;
}

/* .navbar{
    padding-left: 8%;
    padding-right: 8%;
} */
</style>
