<template>
  <div class="container" style="margin-top: 4rem;">
    <div class="columns">
      <div class="column is-12">
        <form action="" @submit.prevent="onCreateMeetup">
          <div class="field">
              <label class="label">Ttile</label>
              <div class="control">
                <input class="input" type="text" placeholder="Title" id="title" v-model="title">
              </div>
            </div>
            <div class="field">
              <label class="label">Location</label>
              <div class="control">
                <input class="input" type="text" placeholder="Text input" id="location" v-model="location">
              </div>
            </div>
            <div class="field">
              <label class="label">Image URL</label>
              <div class="control">
                <input class="input" type="text" placeholder="Image URL" id="imageUrl" v-model="imageUrl">
                <img :src="imageUrl" alt="" height="200" style="height: 400px;">
              </div>
            </div>
            <div class="field">
              <label class="label">Description</label>
              <div class="control">
                <textarea class="textarea" placeholder="Description" id="desc" v-model="desc"></textarea>
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" :disabled="!formIsValid">Submit</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '',
      location: '',
      imageUrl: '',
      desc: ''
    }
  },
  computed: {
    formIsValid () {
      return this.title !== '' &&
      this.location !== '' &&
      this.imageUrl !== '' &&
      this.desc !== ''
    }
  },
  methods: {
    onCreateMeetup () {
      if (!this.formIsValid) {
        return
      }
      const meetupData = {
        title: this.title,
        location: this.location,
        imageUrl: this.imageUrl,
        desc: this.desc,
        date: new Date()
      }
      this.$store.dispatch('createMeetup', meetupData)
      this.$router.push('/meetups')
    }
  }
}
</script>
