<template>
<div class="container">
  <div class="columns">
    <div class="column is-12">
        <div class="card">
          <div class="card-image">
            <figure class="image is-4by3">
              <img :src="meetup.imageUrl" alt="Placeholder image">
            </figure>
          </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{meetup.date}} - {{meetup.title}}</p>
              <p class="subtitle is-6">Mes couilles au bord de l'eau wesh</p>
            </div>
          </div>
          <div class="content">
            <button class="button">Register</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
export default {
  props: ['id'],
  computed: {
    meetup () {
      return this.$store.getters.loadedMeetup(this.id)
    }
  }
}
</script>

<style scope>

</style>
