<template>
<div class="container">
  <div class="columns">
    <div class="column is-6">
        <div class="card" v-for="meetup in meetups" v-bind:key="meetup.id" style="margin-bottom: 2rem;">
          <div class="card-image">
            <figure class="image is-4by3">
              <img :src="meetup.imageUrl" alt="Placeholder image">
            </figure>
          </div>
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{meetup.title}}</p>
              <p class="subtitle is-6"></p>
            </div>
          </div>

          <div class="content">
            <router-link :to="{path: '/meetups/' + meetup.id}" class="button">View Meetup</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</template>

<script>
export default {
  computed: {
    meetups () {
      return this.$store.getters.loadedMeetups
    }
  }
}
</script>

<style scope>

</style>
