<template>
  <div class="container" style="margin-top: 4rem;">
    <div class="columns">
      <div class="column is-12">
        <form action="" @submit.prevent="onSignup">
          <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" type="text" placeholder="Email" id="email" v-model="email">
              </div>
            </div>
            <div class="field">
              <label class="label">Password</label>
              <div class="control">
                <input class="input" type="password" placeholder="password" id="password" v-model="password">
              </div>
            </div>
            <div class="field">
              <label class="label">Conf password</label>
              <div class="control">
                <input class="input" type="password" placeholder="confPassword" id="confPassword" v-model="confPassword" v-bind:rules="[comparedPassword]">
              </div>
            </div>
            <div class="field is-grouped">
              <div class="control">
                <button class="button is-link" :disabled="!formIsValid">Sign up</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      email: '',
      password: '',
      confPassword: ''
    }
  },
  computed: {
    formIsValid () {
      return this.email !== '' &&
      this.password !== '' &&
      this.confPassword
    },
    comparedPassword () {
      return this.password !== this.confPassword ? 'Password do not match' : ''
    },
    user () {
      return this.$store.getters.user
    }
  },
  watch: {
    user (value) {
      if (value !== null && value !== undefined) {
        this.$router.push('/')
      }
    }
  },
  methods: {
    onSignup () {
      console.log({ email: this.email, password: this.password, confPassword: this.confPassword })
      this.$store.dispatch('signUserUp', { email: this.email, password: this.password })
    }
  }
}
</script>
